.banner {
    position: relative;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    height: 150px;
    margin-inline: 1rem;
    display: flex;

    &-img {

      object-fit: cover;
      width: 100%;
      position: relative;
    }
    &-title {
      width: 95%;
      z-index: 3;
      position: absolute;
      color: white;
      font-size: 2.5rem;
      font-weight: 400;
      background-color: rgba(0, 0, 0, 0.5);
      box-shadow: 70px 0px 0px rgba(0, 0, 0, 0.5), -70px 0px 0px rgba(0, 0, 0, 0.5);

      height: 400px;
      display: flex;
      top: -150px;
      right: 26px;
      justify-content: center;
      align-items: center;
      @media (max-width: 767.98px) {
        right: 0;
        font-size: 1.8rem;
        justify-content: start;
        padding-left: 1rem;
      }
    }
}