details {
  &[open=""] {
    summary {
      &::after {
        content: url("../../assets/icons/arrow-up.svg");
      }
    }
  }
  margin: 1rem;

  summary {
    
      list-style: none;
      cursor: pointer;
      background: #FF6060;
      padding: 8px;
      border-radius: 5px;
      
      color: white;
    &::after {
      content: url("../../assets/icons/arrow-down.svg");
      float: right;
    }

     }
  div {
      background: #F6F6F6;
      width: 100%;
      position: relative;
      top: -15.8px;
      border-radius: 0 0 5px 5px ;
      p {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        span {
          margin: 0.2rem;
        }
      }
  }
}