article {
  margin: auto;
  max-width: 1200px;
  .details {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &-lodging {
      &-title {
          font-size: 1.5rem;
          font-weight: 500;
          margin-bottom: 0.2rem;
          color: #FF6060;
      }
      &-location {
          font-weight: 500;
          margin-top: 0.5rem;
        margin-bottom: 1.5rem;
      }
      &-tags {
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
          margin-block: 0.5rem;
          span {
              padding: 0.4rem 0.5rem;
              background-color: #FF6060;
              color: white;
              border-radius: 10px;
              min-width: 115px;
              text-align: center;
          }
      }
      @media (max-width: 767.98px) {
        float: left;
        align-self: flex-start;
      }
    }
    &-owner {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      &-profile {
        display: flex;
        flex-direction: row;
        &-name {
          color: #FF6060;
          margin-block: auto;
          margin-inline: 10px;
        }
        &-picture {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          margin-right: 1rem;
          @media (max-width: 767.98px) {
            width: 10vw;
            height: 10vw;
          }
        }
      }
      &-rating {
        text-align: center;
        @media (max-width: 767.98px) {
          float: left;
          img {
            width: 4vw;
            height: 4vw;
          }
        }
        
      }
    }
    @media (max-width: 767.98px) {
      flex-direction: column;
      align-items: center;
      .details-owner {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
      }
    }
  }
  .dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-block: 1rem;
      @media (max-width: 767.98px) {
        flex-direction: column;
        align-items: center;
        margin-inline: 1rem;
      }
    details {
     width: 100%;
    }
  }
}