article {
  margin: auto;
  max-width: 1200px;
  .details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &-lodging {
      &-title {
          font-size: 1.5rem;
          font-weight: 500;
          margin-bottom: 0.2rem;
          color: #FF6060;
      }
      &-location {
          font-weight: 500;
          margin-top: 0.5rem;
        margin-bottom: 1.5rem;
      }
      &-tags {
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
          margin-block: 0.5rem;
          span {
              padding: 0.5rem 0.5rem;
              background-color: #FF6060;
              color: white;
              border-radius: 20px;
              min-width: 115px;
              text-align: center;
          }
      }
    }
    &-owner {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      &-profile {
        display: flex;
        flex-direction: row;
        &-name {
          color: #FF6060;
          margin-block: auto;
          margin-inline: 10px;
        }
        &-picture {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          margin-right: 1rem;
        }
      }
      &-rating {
        text-align: center;
      }
    }
  }
  .dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-block: 1rem;
  }
}