.home-card-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
      gap: 1rem;
      justify-content: center;
      // padding: 1rem;
      margin: 0 auto;
      max-width: 1200px;
      width: 100%;
      background: #F6F6F6;
      border-radius: 20px;
      box-sizing: border-box;

    
}

@media screen and (max-width: 460px){
      .home-card-wrapper {
            background: none;
            gap: 0;
      }
}

