.dropdown-about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 50px;
    @media screen and (max-width: 768px) {
        padding-inline: 3vw;
        margin-inline: 1rem;
    }

    details {
        width: 100%;
        max-width: 1700px;
    }

}